
<div class="span12">
	<h3 style="text-align:center;">FIN11 Generator</h3>
</div>
</br>

<%= render partial: "fields" %>
<div class="button-container">

	<ul class="nav nav-pills span12 add">
		<li class="nav-item"><%= button_tag "Add Record", {class: "btn btn-primary", id: "add-record"} %></li>
		<li class="nav-item"><%= button_tag("Reset Form", type: "button", class: "btn", id: "reset-button") %></li> 
		<li class="nav-item"><%= button_to('Clear All Listed Records', clear_records_configuration_fields_path, {:method => "post", remote: true, class: "btn btn-danger", confirm: "Are you sure?"}) %></li>
		<li class="nav-item">
			<%= form_tag generate_file_configuration_fields_path, id: "generate_file_form" do %>
			<%= hidden_field_tag "file_date" %>
			<%= hidden_field_tag "file_time" %>
			<%= hidden_field_tag "file_base_currency_code" %>
			<%= hidden_field_tag "file_fcc_acquirer_id" %>
			<%= hidden_field_tag "file_version" %>
			<%= submit_tag('Generate File', class: "btn btn-success", id: "generate_file") %>
		</li>
		<li class="nav-item">File Sequence No. <%= select_tag :file_sequence_no, options_for_select((1..10).map{|n| ["00#{n}", "00#{n}".last(3)]}) %></li>
		<% end %>
	</ul>

	<ul class="nav nav-pills span12">
		<li class="nav-item flash">Added Record: <span id="added-record-no">n/a</span>   MID: <span id="record-mid">n/a</span>   TID: <span id="record-tid">n/a</span></li>
	</ul>
	
</div>
<%#= button_to('TEST', clear_records_configuration_fields_path,
:method => "post", :remote => true) %>
<div id="records-partial">
<%= render partial: "records" %>
</div>


